<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
        <key>title</key>
		<string>Credits</string>
		
		<key>items</key>
		<array>
			<dict>
				<key>cell</key>
				<string>PSGroupCell</string>
				<key>label</key>
				<string>Tweak Creator</string>
			</dict>
				<dict>
					<key>action</key>
					<string></string>
					<key>cell</key>
					<string>PSButtonCell</string>
					<key>cellAlignment</key>
					<string>1</string>
					<key>label</key>
					<string>DylanDuff</string>
				</dict>	
			<dict>
				<key>cell</key>
				<string>PSGroupCell</string>
				<key>label</key>
				<string>Nightshade Helper App</string>
			</dict>
				<dict>
					<key>action</key>
					<string></string>
					<key>cell</key>
					<string>PSButtonCell</string>
					<key>cellAlignment</key>
					<string>1</string>
					<key>label</key>
					<string>SynnyGR</string>
				</dict>	
		</array>
	</dict>
</plist>